@use "../../../config/colors" as color;

.input__container {
  height: 15.688rem;
  margin-bottom: 3rem;
}

.textarea {
  width: 100%;
  height: inherit;
  font-size: 2rem;
  background-color: transparent;
  color: color.$primary-color;
  border: none;
  outline: none;
  resize: none;
}

.warning {
  display: flex;
  flex-flow: row nowrap;
  font-size: 0.875rem;
  color: color.$fifth-color;
}

.warning__img {
  margin-right: 0.5rem;
}

@media screen and (min-width: 768px) {
  .input__container {
    height: 34.25rem;
  }

  .textarea {
    height: inherit;
  }
}

@media screen and (min-width: 1024px) {
  .input__container {
    margin-left: 5rem;
    height: 20rem;
    grid-area: input;
  }
}
