@use "../../settings/colors" as color;

.main__input {
  display: block;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  color: color.$primary-color;
  background-color: inherit;
  border: none;
  outline: none;
  resize: none;
}

.main__input::placeholder {
  color: color.$primary-color;
}

@media screen and (min-width: 768px) {

  .main__input {
    height: 34.25rem;
  }
}

@media screen and (min-width: 1024px) {
  .main__input {
    height: 25rem;
  }
}

@media screen and (min-width: 1440px) {
  .main__input {
    height: 39.688rem;
  }
}