.header {
  margin-bottom: 5rem;
}

.img__logo {
  display: block;
  width: 1.943rem;
}

@media screen and (min-width: 768px) {
  .header {
    margin-bottom: 7.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    grid-area: header;
    margin-bottom: 2.5rem;
  }
}